#don't commit the dependencies
node_modules/
TODO.todo

# Ignore log files
logs/

# Ignore the config files
configs/*
!configs/welcome.default.txt
!configs/example-config.json

#don't commit documentation
zdocs/
whitelist/