#don't commit the dependencies
node_modules/
TODO.todo

# Ignore log files
logs/

# Ignore the blacklisted words as well as the greeting messages
badwords.txt
welcome.txt

# Ignore the config file
config.json

#don't commit documentation
zdocs/